{%extends "index.html"%}
{% block content %}
<div class="cat_name" style="color:white;font-size:40px">
{{cat_name}}
</div>
<!-- chia khoi -->
<div class="container">
	<div class="row">
		<div class="col-sm">
			<div class="khoi"><img class="thumbnail-vid" src="https://files.yande.re/sample/0aa869f2e5c23def3a05e4722ac726b1/yande.re%20686189%20sample%20asuna_%28sword_art_online%29%20jpeg_artifacts%20landscape%20skirt_lift%20sword%20sword_art_online%20sword_art_online_progressive%20tagme.jpg">
				<br>film 1</div>
		</div>
		<div class="col-sm">
			<div class="khoi"></div>
		</div>
		<div class="col-sm">
			<div class="khoi"></div>
		</div>
		<div class="col-sm">
			<div class="khoi"></div>
		</div>
		<div class="col-sm">
			<div class="khoi"></div>
		</div>
		<div class="col-sm">
			<div class="khoi"></div>
		</div>
	</div>
</div>
<!-- End chia khoi -->
{% endblock %}