
{%extends "index.html"%}
{% block content %}
<!-- Random suggest -->
<div class="container slide">   
	<div class="row">
		<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
			<ol class="carousel-indicators">
			    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
			</ol>
		 	<div class="carousel-inner">
			    <div class="carousel-item active">
				    <img src="/static/img/slide_4.jpg" class="d-block w-100">
				    </div>
			    </div>
		 	</div>
		</div>
 	</div>
</div>	

<div class="container" style="padding-top: 10px;">
	<div class="row">
		<div class="col-sm-4" >
			<div class="alert alert-secondary anime_info" role="alert">
				<p style="font-size: 30px;color:red;">THÔNG TIN <br> </p>
				<w class="movie-cagetory">Thể loại:</w> Hành động, Phưu lưu, Siêu nhiên<br>
				<w class="movie-year">Năm sản xuất:</w> 2015 <br>
				<w class="movie-new-ep">Tập mới nhất:
				<div class="d-grid gap-2 d-md-block" style="display: inline;">
					<button class="btn btn-secondary" type="button">1</button>
		 			<button class="btn btn-secondary" type="button">2</button>
		 			<button class="btn btn-secondary" type="button">3</button>
				</div></w>
				<br>
				<a href="#"><button class="btn btn-danger btn-nut">Xem phim</button></a>
			</div>
		</div>

		<div class="col-sm-8">
			<div class="alert alert-secondary anime_info" role="alert">
				<p class="movie-name"> {{film_name}} <p>
				<w class="movie-content">Nội dung:</w> 12 năm trước, hồ ly 9 đuôi tấn công làng ninja Mộc Diệp, Hokage Đệ Tứ đã đánh bại và phong ấn vào cậu bé Naruto.Từ đó, Naruto bị mọi người xa lánh, vậy nên cậu tìm ra cách được thừa nhận và chú ý duy nhất – qua các trò phá phách và nghịch ngợm.Câu chuyện chính bám theo sự trưởng thành và tiến bộ của Naruto và bạn cậu khi làm ninja, và nhấn mạnh mối quan hệ giữa họ và sự ảnh hưởng của quá khứ đến tính cách họ. Naruto tìm được hai người bạn đồng hành cùng là Uchiha Sasuke và Haruno Sakura,
				cuộc phiêu lưu bắt đầu. <br> <br>
			</div>
		</div>

	</div>
</div>
{% endblock %}