{%extends "index.html"%}
{% block content %}
<div class="container" style="padding-top: 15px;">
			<div class = 'row'>
					<iframe width="1407" height="671" src="https://www.youtube.com/embed/CID-sYQNCew" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

				<br>
				<a style="font-size: 20px;"><button class="btn btn-danger">Danh sách tập</button></a>
				<div class="d-grid gap-2 d-md-block" style="display: inline; padding-top: 10px;">
					{%for i in range(1,episodes)%}
					{%if i == episode%}		 			
					<a href='/film/{{film_name}}/{{i}}'><button class="btn btn-secondary active" type="button">{{i}}</button></a>
					 {%else%}
					 <a href='/film/{{film_name}}/{{i}}'><button class="btn btn-secondary" type="button" >{{i}}</button></a>
					 {%endif%}
					 {%endfor%}
				</div>
			</div>
	</div>
</div>
{% endblock %}