{%extends "index.html"%}
{% block content %}
<div class="container" style="padding-top: 15px;">

								<video fullscreen width="1300" height="720" autoplay="autoplay" controls="webkitallowfullscreen mozallowfullscreen allowfullscreen">
    							<source src="https://video.fdad3-2.fna.fbcdn.net/v/t66.36240-6/10000000_400666231045831_1137017290049248524_n.mp4?_nc_cat=102&ccb=2&_nc_sid=985c63&efg=eyJ2ZW5jb2RlX3RhZyI6Im9lcF9oZCJ9&_nc_ohc=vem6auoXHgQAX-X17hL&_nc_ht=scontent-amt2-1.xx&oh=7c4121ea6ee4416e50831969f2f7c5e7&oe=6025F432" width="1280" height="720" type="video/mp4"></video>


				<br>
				<a style="font-size: 20px;"><button class="btn btn-danger">Danh sách tập</button></a>
				<div class="d-grid gap-2 d-md-block" style="display: inline; padding-top: 10px;">
					{%for i in range(1,episodes)%}
					{%if i == episode%}		 			
					<a href='/film/{{film_name}}/{{i}}'><button class="btn btn-secondary active" type="button">{{i}}</button></a>
					 {%else%}
					 <a href='/film/{{film_name}}/{{i}}'><button class="btn btn-secondary" type="button" >{{i}}</button></a>
					 {%endif%}
					 {%endfor%}
				</div>
				
	</div>
</div>
{% endblock %}