
{%extends "index.html"%}
{% block content %}
<!-- Random suggest -->
<div class="container" style="position:relative">   
		 	<div>
			    <div>
				    <img src="/static/img/JUST_GOOGLE_IT.png" style="position: relative; object-fit: contain;max-height: 100%; max-width: 100%;">
					<div class="ribbon_info" style=" max-height: 50%;">
						<div class="row">
							<div class='col-sm-3' style="align-items: center;"><img src="{{image_url}}"></img></div>
							<div class='col-sm-9'>
								<p class="movie-name" style="text-align: left;"> {{film_name}} </p>
								<div class='anime-content'>
									<div class="scroll-up">
										<w class="movie-content">Nội dung:</w> <br>
										{{ content|safe }}
									</div>
								</div>
							</div>
							
						</div>
						
						

					</div>
				</div>
				
			</div>
</div>	

<div class="container" style="padding-top: 10px;">
	<div class="row">
		<div class="col-sm-4" >
			<div class="alert alert-secondary anime_info" role="alert">
				<p style="font-size: 30px;color:red;">THÔNG TIN <br> </p>
				<w class="movie-cagetory">Thể loại:</w>
				{%for i in genres%}
				<a href = "{{'/category/'+i[1]+'/1' }}"><button class="btn btn-secondary category_btn" type="button">{{i[0]}}</button></a>
				{%endfor%}
				<br>
				<w class="movie-year">Năm sản xuất:</w> {{year}} <br>
				<w class="movie-new-ep">Tập mới nhất:
				<div class="d-grid gap-2 d-md-block" style="display: inline;">
					<button class="btn btn-secondary" type="button">{{episodes}}</button>
		 			<button class="btn btn-secondary" type="button">{{episodes-1}}</button>
		 			<button class="btn btn-secondary" type="button">{{episodes-2}}</button>
				</div></w>
				<br>
				<a href="#"><button class="btn btn-danger btn-nut">Xem phim</button></a>
			</div>
		</div>

		<div class="col-sm-8">
			<div class="alert alert-secondary anime_info" role="alert">
			</div>
			
		</div>

	</div>
</div>
{% endblock %}