{%extends "index.html"%}
{% block content %}
<div class="cat_name" style="color:white;font-size:40px">
{{cat_name}}
</div>
<!-- chia khoi -->
<div class="container">
	<div class="row">
		<div class="col-sm">
			<div class="khoi"></div>
		</div>
		<div class="col-sm">
			<div class="khoi"></div>
		</div>
		<div class="col-sm">
			<div class="khoi"></div>
		</div>
		<div class="col-sm">
			<div class="khoi"></div>
		</div>
		<div class="col-sm">
			<div class="khoi"></div>
		</div>
		<div class="col-sm">
			<div class="khoi"></div>
		</div>
	</div>
</div>
<!-- End chia khoi -->
{% endblock %}