{%extends "index.html"%}
{% block content %}
<!-- List movie -->
<div class="container">
	{%for row in rows%}
	<div class="row">
		{%for i in row%}
		<div class="col-sm">
			
			<div class="card " style="width: 16rem; height: 23rem;">
				<a href='/film/{{i[0]}}'>
				<img src="{{i[1]}}" class="card-img-top" alt="...">
				<div class="card-body">
					<p class="card-text">{{i[0]}}</p>
				</div>
				</a>
			</div>
		</div>
		{%endfor%}
	</div>
	<br>
	{%endfor%}
	
</div>
<!-- End list movie -->
{% endblock %}