{%extends "index.html"%}
{% block content %}
<!-- List movie -->
<div class="container">
	{%for row in rows%}
	<div class="row">
		{%for i in row%}
		<div class="col-sm">
			
			<div class="card " style="width: 90%; height: 95%; background-color: #400080;">
				<p href='/film/{{i[0]}}'>
				<img src="{{i[1]}}" class="card-img-top" alt="..." >
				<div class="card-body" style="bottom: 0px; padding-top: 0px; padding-bottom: 10px; color:white; text-align: center;">
					<p class="card-text">{{i[0]}}</p>
				</div>
				</p>
			</div>
		</div>
		{%endfor%}
	</div>
	<br>
	{%endfor%}
<!-- End list movie -->
	
		<!--<div class="d-grid gap-2 d-md-block">
			<button class="btn btn-secondary" type="button">1</button>
 			<button class="btn btn-secondary" type="button">2</button>
 			<button class="btn btn-secondary" type="button">3</button>
 			<button class="btn btn-secondary" type="button">4</button>
 			<button class="btn btn-secondary" type="button"> > </button>
		</div> -->


	<nav aria-label="...">
    <ul class="pagination">
		{%for i in list_page%}
		{%if i[1]=='disable'%}
        <li class="page-item disabled">
            <a class="page-link" href="{{i[2]}}" tabindex="-1" aria-disabled="true">{{i[0]}}</a>
		</li>
		{% endif %}
		{% if i[1]=='onit' %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="{{i[2]}}">{{i[0]}}</a>
		</li>
		{% endif %}
		{% if i[1]=='clickable' %}
		<li class="page-item"><a class="page-link" href="{{i[2]}}">{{i[0]}}</a></li>
		{% endif %}
		{%endfor%}
    </ul>
	</nav>


</div>
<!-- End list movie -->
{% endblock %}