<!DOCTYPE html>
<html>
<head>
	<title>Watch Anime Online</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<link rel="stylesheet" type="text/css" href="/static/fontawesome/css/all.css">

</head>
<body>

<!-- LOGO -->
	<header>
		<div class="container">
			<div class="header-logo"><a class="logo" href="/" title="WATCH ANIME ONLINE"></a></div>
		</div>
	</header>
<!-- END LOGO -->

<!-- MUC LUC -->
<div class="clear"></div>
<div class="container">
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffd480;">
  	<div class="container-fluid">
    	<a class="navbar-brand" href="#">Trang chủ</a>
    	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      	<span class="navbar-toggler-icon"></span>
    	</button>
    	<div class="collapse navbar-collapse" id="navbarSupportedContent">
      	<ul class="navbar-nav me-auto mb-2 mb-lg-0">


      		<li class="nav-item">
          	<a class="nav-link" href="#">Giới thiệu</a>
        	</li>

        	<li class="nav-item dropdown">
          	<a class="nav-link" href="#" id="navbarDropdown">Thể loại</a>
          	<div class="dropdown-content">
            	<a class="dropdown-item" href="/category/hanh_dong/1">Hành động</a>
            	<a class="dropdown-item" href="/category/Doi_thuong/1">Đời thường</a>
            	<a class="dropdown-item" href="/category/lang_mang/1">Lãng mạng</a>
            	<a class="dropdown-item" href="/category/phieu_luu/1">Phiêu lưu</a>
            	<a class="dropdown-item" href="/category/hoc_duong/1">Học đường</a>
            	<a class="dropdown-item" href="/category/the_thao/1">Thể thao</a>
            	<a class="dropdown-item" href="/category/hai_huoc/1">Hài hước</a>
            	<a class="dropdown-item" href="/category/sieu_nhien/1">Siêu nhiên</a>
            	<a class="dropdown-item" href="/category/vien_tuong/1">Viễn tưởng</a>
            	<a class="dropdown-item" href="/category/mecha/1">Mecha</a>
            	<a class="dropdown-item" href="/category/bi_kich/1">Bi kịch</a>
          	</div>
        	</li>

    	    <li class="nav-item dropdown">
          	<a class="nav-link" href="#" id="navbarDropdown">Năm sản xuất</a>
          	<div class="dropdown-content">
            	<a class="dropdown-item" href="/year/2015/1">2015</a>
            	<a class="dropdown-item" href="/year/2016/1">2016</a>
            	<a class="dropdown-item" href="/year/2017/1">2017</a>
            	<a class="dropdown-item" href="/year/2018/1">2018</a>
          	</div>
        	</li>

        	<li class="nav-item">
          	<a class="nav-link" href="#">phim duoc ua thich</a>
        	</li>
      	</ul>
<!-- END MUC LUC -->

<!-- THANH SEARCH -->
      		<div class="d-flex">
        		<input id = "search-box" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        		<button id="search-button" class="btn btn-outline-success">Tìm</button>
			  </div>

    	</div>
  	</div>
</nav>
</div>
<!-- END THANH SEARCH -->
{% block content %}
<!-- Random suggest -->
<div class="container slide">   
	<div class="row">
		<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
			<ol class="carousel-indicators">
			    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
			    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
			    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
			    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"></li>
			    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"></li>
			</ol>

		 	<div class="carousel-inner">
			    <div class="carousel-item active">
			    	<a href="/film/Naruto" title="NARUTO">
		    		<img src="/static/img/naruto.jpg" class="d-block w-100"></a>
		    		<div class="carousel-caption" style="padding-bottom: 15%;">
		     			<h5><span class="font_random_suggest">NARUTO</span></h5>
		      		</div>
			    </div>

		    	<div class="carousel-item">
		    		<a href="/film/ONE" title="ONE PIECE">
				    <img src="/static/img/one_piece.png" class="d-block w-100"></a>
				    <div class="carousel-caption" style="padding-bottom: 17%;">
				        <h5><span class="font_random_suggest">ONE PIECE</span></h5>
				    </div>
		    	</div>

		    	<div class="carousel-item">
		      		<img src="/static/img/pokemon.jpg" class="d-block w-100">
		      		<div class="carousel-caption" style="padding-bottom: 19%;">
		        		<h5><span class="font_random_suggest">POKEMON</span></h5>
		      		</div>
		    	</div>

		    	<div class="carousel-item">
		      		<img src="/static/img/pokemon.jpg" class="d-block w-100">
		      		<div class="carousel-caption" style="padding-bottom: 19%;">
		        		<h5><span class="font_random_suggest">POKEMON</span></h5>
		      		</div>
		    	</div>

		    	<div class="carousel-item">
		      		<img src="/static/img/pokemon.jpg" class="d-block w-100">
		      		<div class="carousel-caption" style="padding-bottom: 19%;">
		        		<h5><span class="font_random_suggest">POKEMON</span></h5>
		      		</div>
		    	</div>

		 	</div>

			<a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
			    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			    <span class="visually-hidden">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
			    <span class="carousel-control-next-icon" aria-hidden="true"></span>
			    <span class="visually-hidden">Next</span>
			</a>
		</div>
 	</div>
</div>		
</div>

<div class="container">
		<button class="btn btn-danger btn-nut" style="font-size: 23px; color: white;" >
			DACH MỤC PHIM MỚI UPDATE
		</button>
</div>
<!-- End Random suggest -->

<!-- List movie -->
<div class="container">
	<div class="row">

		<div class="col-sm-8">
			<div class="container" style="padding-left: 10px;">
				{%for row in rows%}
				<div class="row" style="padding-bottom: 10px;">
					{%for i in row%}
					<div class="col-sm col-listfilm">
						<div class="card film_card"  style="width: 95%; height: 100%; background-color: #400080;">
							<a class="film_thumbnail" href='/film/{{i[0]}}' style="color: white;">
							<img src="{{i[1]}}" class="card-img-top" alt="..." >
							<div class="card-body text-listfilm" style="bottom: 0px;">
								<p class="card-text">{{i[0]}}</p>
							</div>
							</a>
						</div>
					</div>
					{%endfor%}
				</div>
				
				{%endfor%}
			</div>
		</div>

		<div class="col-sm-4">
			<div class="container" style="padding-left: 0px; padding-right: 0px;">
				<div class="btn-danger">
					<p style="font-size: 25px;"> <i class="fas fa-star" style="color:orange;"></i> <span>BẢNG XẾP HẠNG</span> </p>
				</div>
				<div class="list-group">
				    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
				        <div class="d-flex w-100 justify-content-between">
				            <h5 class="mb-1">List group item heading</h5>
				            <small>3 days ago</small>
				        </div>
				        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
				        <small>Donec id elit non mi porta.</small>
				    </a>
				    <a href="#" class="list-group-item list-group-item-action">
				        <div class="d-flex w-100 justify-content-between">
				            <h5 class="mb-1">List group item heading</h5>
				            <small class="text-muted">3 days ago</small>
				        </div>
				        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
				        <small class="text-muted">Donec id elit non mi porta.</small>
				    </a>
				    <a href="#" class="list-group-item list-group-item-action">
				        <div class="d-flex w-100 justify-content-between">
				            <h5 class="mb-1">List group item heading</h5>
				            <small class="text-muted">3 days ago</small>
				        </div>
				        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
				        <small class="text-muted">Donec id elit non mi porta.</small>
				    </a>
				</div>

				<br>
				<br>
				<br>

				<div class="btn-danger">
					<p style="font-size: 25px;"> <i class="fas fa-star" style="color:orange;"></i> <span>BẢNG XẾP HẠNG</span> </p>
				</div>
				<div class="list-group">
				    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
				        <div class="d-flex w-100 justify-content-between">
				            <h5 class="mb-1">List group item heading</h5>
				            <small>3 days ago</small>
				        </div>
				        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
				        <small>Donec id elit non mi porta.</small>
				    </a>
				    <a href="#" class="list-group-item list-group-item-action">
				        <div class="d-flex w-100 justify-content-between">
				            <h5 class="mb-1">List group item heading</h5>
				            <small class="text-muted">3 days ago</small>
				        </div>
				        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
				        <small class="text-muted">Donec id elit non mi porta.</small>
				    </a>
				    <a href="#" class="list-group-item list-group-item-action">
				        <div class="d-flex w-100 justify-content-between">
				            <h5 class="mb-1">List group item heading</h5>
				            <small class="text-muted">3 days ago</small>
				        </div>
				        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
				        <small class="text-muted">Donec id elit non mi porta.</small>
				    </a>
				</div>
			</div>
		</div>

	</div>	
</div>
<!-- End list movie -->

<div class="container">
	<a href="/list/1"><button class="btn btn-danger btn-nut">Xem thêm</button></a>
</div>
{% endblock %}

<!-- Back to top Button -->
<button onclick="topFunction()" id="BackToTop_BTN" title="Go to top"></button>
<!-- End Back to top Button -->

	<br>
	<p class="dynamic-change">
		TextChanging
	</p>

	<script src="/static/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
	<script src="/static/script/search.js"></script>
</body>