<!DOCTYPE html>
<html>
<head>
	<title>Watch Anime Online</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
</head>
<body>

<!-- LOGO -->
	<header>
		<div class="container">
			<div class="header-logo"><a class="logo" href="/" title="WATCH ANIME ONLINE"></a></div>
		</div>
	</header>
<!-- END LOGO -->

<!-- MUC LUC -->
<div class="clear"></div>
<div class="container">
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffd480;">
  	<div class="container-fluid">
    	<a class="navbar-brand" href="#">Trang chủ</a>
    	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      	<span class="navbar-toggler-icon"></span>
    	</button>
    	<div class="collapse navbar-collapse" id="navbarSupportedContent">
      	<ul class="navbar-nav me-auto mb-2 mb-lg-0">


      		<li class="nav-item">
          	<a class="nav-link" href="#">Giới thiệu</a>
        	</li>

        	<li class="nav-item dropdown">
          	<a class="nav-link" href="#" id="navbarDropdown">Thể loại</a>
          	<div class="dropdown-content">
            	<a class="dropdown-item" href="#">Hành động</a>
            	<a class="dropdown-item" href="#">Đời thường</a>
            	<a class="dropdown-item" href="#">Lãng mạng</a>
            	<a class="dropdown-item" href="#">Phiêu lưu</a>
            	<a class="dropdown-item" href="#">Học đường</a>
            	<a class="dropdown-item" href="#">Thể thao</a>
            	<a class="dropdown-item" href="#">Hài hước</a>
            	<a class="dropdown-item" href="#">Siêu nhiên</a>
            	<a class="dropdown-item" href="#">Viễn tưởng</a>
            	<a class="dropdown-item" href="#">Mecha</a>
            	<a class="dropdown-item" href="#">Bi kịch</a>
          	</div>
        	</li>

    	    <li class="nav-item dropdown">
          	<a class="nav-link" href="#" id="navbarDropdown">Năm sản xuất</a>
          	<div class="dropdown-content">
            	<a class="dropdown-item" href="#">2015</a>
            	<a class="dropdown-item" href="#">2016</a>
            	<a class="dropdown-item" href="#">2017</a>
            	<a class="dropdown-item" href="#">2018</a>
            	<a class="dropdown-item" href="#">2019</a>
            	<a class="dropdown-item" href="#">2020</a>
          	</div>
        	</li>

        	<li class="nav-item">
          	<a class="nav-link" href="#">Xem nhiều</a>
        	</li>
      	</ul>
<!-- END MUC LUC -->

<!-- THANH SEARCH -->
      		<form class="d-flex">
        		<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        		<button class="btn btn-outline-success" type="submit">Tìm</button>
      		</form>

    	</div>
  	</div>
</nav>
</div>
<!-- END THANH SEARCH -->
{% block content %}
<!-- Random suggest -->
<div class="container slide">   
	<div class="row">
		<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
			<ol class="carousel-indicators">
			    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
			    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
			    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
			</ol>

		 	<div class="carousel-inner">
			    <div class="carousel-item active">
				    <img src="/static/img/slide_4.jpg" class="d-block w-100" alt="first slide">
				    <div class="carousel-caption" style="padding-bottom: 5%;">
				        <h5 class="font_random_suggest">HONKAI IMPACT 3</h5>
				        <p class="font_random_suggest">Trang phục mới của 「Vân Mặc Đan Tâm」:「Cerulean Court」.</p>
				    </div>
			    </div>

		    	<div class="carousel-item">
		    		<img src="https://via.placeholder.com/900x380" class="d-block w-100" alt="second slide">
		    		<div class="carousel-caption" style="padding-bottom: 5%;">
		     			<h5>Second slide label</h5>
		        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		      		</div>
		    	</div>

		    	<div class="carousel-item">
		      		<img src="https://via.placeholder.com/900x380" class="d-block w-100" alt="third slide">
		      		<!-- div class="carousel-caption d-none d-md-block" style="padding-bottom: 35%;" -->
		      		<div class="carousel-caption" style="padding-bottom: 5%;">
		        		<h5>Third slide label</h5>
		        		<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
		      		</div>
		    	</div>

		 	</div>

			<a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
			    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			    <span class="visually-hidden">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
			    <span class="carousel-control-next-icon" aria-hidden="true"></span>
			    <span class="visually-hidden">Next</span>
			</a>
		</div>
 	</div>
</div>

<div class="container">

	<div class="row">
		<div class="col-sm-4">
			Trang web chỉ mang tính chất minh họa 
		</div>
		<div class="col-sm-4">
			Trang web chỉ mang tính chất minh họa 
		</div>
		<div class="col-sm-4">
			Trang web chỉ mang tính chất minh họa 
		</div>
	</div>
</div>
<!-- End Random suggest -->

<!-- chia khoi -->
<div class="container">
	<div class="row">
		<div class="col-sm">
			<div class="khoi"><img class="thumbnail-vid" src="https://files.yande.re/sample/0aa869f2e5c23def3a05e4722ac726b1/yande.re%20686189%20sample%20asuna_%28sword_art_online%29%20jpeg_artifacts%20landscape%20skirt_lift%20sword%20sword_art_online%20sword_art_online_progressive%20tagme.jpg">
				<br>film 1</div>
		</div>
		<div class="col-sm">
			<div class="khoi"></div>
		</div>
		<div class="col-sm">
			<div class="khoi"></div>
		</div>
		<div class="col-sm">
			<div class="khoi"></div>
		</div>
		<div class="col-sm">
			<div class="khoi"></div>
		</div>
		<div class="col-sm">
			<div class="khoi"></div>
		</div>
	</div>
</div>
<!-- End chia khoi -->
{% endblock %}
	<br>
	<div>
		<button class="btn btn-danger btn-nut">Xem phim trực truyến</button>
	</div>

	<script src="/static/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
</body>
</html>